<!DOCTYPE html>
<html>
<head>
	<title>ImageNomeR | Analyze {{ id }} </title>
	<script src='/js/bar.js'></script>
	<script src='/js/analyze.js'></script>
	<style>
	canvas {
		border: 1px solid black;
	}
	</style>
</head>
<body>
	<h2 id='{{ id }}' class='h-id'>{{ cache[id]['runs'][0]['desc'] }}</h2>
	<p>
		<button id='barBoxButton'>Box Plot</button>
		<input type='checkbox' id='displayLabels' checked> Display Labels
	</p>
	<canvas id='mainCanvas' width=600 height=400></canvas>
	<p>{{ cache[id]['runs']|length }} runs, Accuracy: {{ accuracy }}&#xB1;{{ stddev }}</p>
	<ol id='runs-list'>
	{% for run in cache[id]['runs']: %}
		<li>
			<input type='checkbox' id='run{{ run["runid"] }}' checked> <span>Accuracy: {{ run['Accuracy'] }},
				Train: {{ run['Train'].__str__() }}, Test: {{ run['Test'].__str__() }}</span> <span class='loading'>Loading...</span>
		</li>
	{% endfor %}	
	</ol>
</body>
</html>
